<div class="backDrop opened">
    <div class="innerWrap">
        <!--Title Page-->
        <div *ngIf="configOptions.includeTitle && configOptions.titleInfoPos === 'titleInfoSeparatePage'" class="paperBack">
            <div [ngClass]="{'alignCenter': configOptions.titleInfoAlign === 'titleInfoAlignCenter', 'alignRight': configOptions.titleInfoAlign === 'titleInfoAlignRight'}" class="titlePageWrap">
                <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5]; let i = index">
                    <div *ngIf="configOptions.titleInfoIncludeClassIndex === i && configOptions.titleInfoIncludeClass" >
                        <div class="titleLabelLabel">
                            Class
                        </div>
                        <div class="titleInfoWrap">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                    <div *ngIf="configOptions.titleInfoIncludeNameIndex === i  && configOptions.titleInfoIncludeName" >
                        <div class="titleLabelLabel">
                            Name
                        </div>
                        <div class="titleInfoWrap">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                    <div *ngIf="configOptions.titleInfoIncludeOtherTextIndex === i && configOptions.titleInfoIncludeOtherText" >
                        <div class="titleLabelLabel">
                            Other
                        </div>
                        <div class="titleInfoWrap">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                    <div *ngIf="configOptions.titleInfoIncludeProfessorIndex === i && configOptions.titleInfoIncludeProfessor" >
                        <div class="titleLabelLabel">
                            Professor
                        </div>
                        <div class="titleInfoWrap">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                    <div *ngIf="configOptions.titleInfoIncludeSchoolIndex === i && configOptions.titleInfoIncludeSchool" >
                        <div class="titleLabelLabel">
                            School
                        </div>
                        <div class="titleInfoWrap">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                    <div *ngIf="configOptions.titleInfoIncludeTitleIndex === i && configOptions.titleInfoIncludeTitle" >
                        <div class="titleLabelLabel">
                            Title
                        </div>
                        <div class="titleInfoWrap">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <!--Summary Page && Title and Summary Page && Summary and Body Page && Title, Summary, and Body Page && Summary, Body, and Conclusion Page && Title, Summary, Body, and Conclusion Page && Title and Body Page && Title, Body, and Conclusion Page-->
        <div class="paperBack" *ngIf="(configOptions.includeAbstractSummary) || (configOptions.includeTitle && configOptions.titleInfoPos !== 'titleInfoSeparatePage' && configOptions.bodyBetweenSections !== 'bodyEachSectionOwnPage')">
            <ng-container *ngIf="configOptions.includeTitle && configOptions.titleInfoPos !== 'titleInfoSeparatePage'">
                <div [ngClass]="{'alignCenter': configOptions.titleInfoAlign === 'titleInfoAlignCenter', 'alignRight': configOptions.titleInfoAlign === 'titleInfoAlignRight'}" class="titlePageTopWrap">
                    <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5]; let i = index">
                        <div *ngIf="configOptions.titleInfoIncludeClassIndex === i && configOptions.titleInfoIncludeClass" >
                            <div class="titleLabelLabel">
                                Class
                            </div>
                            <div class="titleInfoTopWrap">
                                <div contenteditable="true" class="labelEnter" id="editting"></div>
                                <div class="labelOptions">
                                    ...
                                </div>
                            </div>
                        </div>
                        <div *ngIf="configOptions.titleInfoIncludeNameIndex === i  && configOptions.titleInfoIncludeName" >
                            <div class="titleLabelLabel">
                                Name
                            </div>
                            <div class="titleInfoTopWrap">
                                <div contenteditable="true" class="labelEnter" id="editting"></div>
                                <div class="labelOptions">
                                    ...
                                </div>
                            </div>
                        </div>
                        <div *ngIf="configOptions.titleInfoIncludeOtherTextIndex === i && configOptions.titleInfoIncludeOtherText" >
                            <div class="titleLabelLabel">
                                Other
                            </div>
                            <div class="titleInfoTopWrap">
                                <div contenteditable="true" class="labelEnter" id="editting"></div>
                                <div class="labelOptions">
                                    ...
                                </div>
                            </div>
                        </div>
                        <div *ngIf="configOptions.titleInfoIncludeProfessorIndex === i && configOptions.titleInfoIncludeProfessor" >
                            <div class="titleLabelLabel">
                                Professor
                            </div>
                            <div class="titleInfoTopWrap">
                                <div contenteditable="true" class="labelEnter" id="editting"></div>
                                <div class="labelOptions">
                                    ...
                                </div>
                            </div>
                        </div>
                        <div *ngIf="configOptions.titleInfoIncludeSchoolIndex === i && configOptions.titleInfoIncludeSchool" >
                            <div class="titleLabelLabel">
                                School
                            </div>
                            <div class="titleInfoTopWrap">
                                <div contenteditable="true" class="labelEnter" id="editting"></div>
                                <div class="labelOptions">
                                    ...
                                </div>
                            </div>
                        </div>
                        <div *ngIf="configOptions.titleInfoIncludeTitleIndex === i && configOptions.titleInfoIncludeTitle" >
                            <div class="titleLabelLabel">
                                Title
                            </div>
                            <div class="titleInfoTopWrap">
                                <div contenteditable="true" class="labelEnter" id="editting"></div>
                                <div class="labelOptions">
                                    ...
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>     
                <br />
                <br />           
            </ng-container>
            <!--Summary Page-->
            <ng-container *ngIf="configOptions.includeAbstractSummary">   
                <div class="topLabelWrap">             
                    <div class="labelLabel" *ngIf="configOptions.summaryIncludeSectionLabel">
                        Abstract / Summary Label
                    </div>
                    <div class="firstLabelWrap" *ngIf="configOptions.summaryIncludeSectionLabel">
                        <div contenteditable="true" class="labelEnter" id="editting"></div>
                        <div class="labelOptions">
                            ...
                        </div>
                    </div>
                </div>
                <div class="contentLabel">
                    Abstract / Summary
                </div>
                <div class="contentOptions" style="margin-right: -131px;">
                    ...
                </div>
                <div class="contentEnterWrap">
                    <p contenteditable="true" class="contentEnter" id="editting">H<em>el</em>lo</p>		
                </div>
            </ng-container>
            <!--Body Sections-->
            <ng-container *ngIf="configOptions.bodyBetweenSections !== 'bodyEachSectionOwnPage' && (!configOptions.summaryOwnPage || !configOptions.includeAbstractSummary)">
                <ng-container *ngFor="let section of contentObj.bodySections; let index = index;">
                    <div class="topLabelWrap">             
                        <div class="labelLabel" *ngIf="configOptions.bodyIncludeSectionLabels">
                            Section Label
                        </div>
                        <div class="firstLabelWrap" *ngIf="configOptions.bodyIncludeSectionLabels">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                    <div class="contentLabel">
                        Section
                    </div>
                    <div class="contentOptions" style="margin-right: -66px;">
                        ...
                    </div>
                    <div class="contentEnterWrap">
                        <p contenteditable="true" class="contentEnter" id="editting">H<em>el</em>lo</p>		
                    </div>
                </ng-container>
                <!--Conclusion-->
                <ng-container *ngIf="configOptions.includeConclusion && !configOptions.conclusionOwnPage">
                    <div class="topLabelWrap">
                        <div class="labelLabel" *ngIf="configOptions.conclusionIncludeLabel">
                            Conclusion Label
                        </div>
                        <div class="firstLabelWrap" *ngIf="configOptions.conclusionIncludeLabel">
                            <div contenteditable="true" class="labelEnter" id="editting"></div>
                            <div class="labelOptions">
                                ...
                            </div>
                        </div>
                    </div>
                    <div class="contentLabel">
                        Conclusion
                    </div>
                    <div class="contentOptions" style="margin-right: -87px;">
                        ...
                    </div>
                    <div class="contentEnterWrap">
                        <p contenteditable="true" class="contentEnter" id="editting">H<em>el</em>lo</p>		
                    </div>
                </ng-container>
            </ng-container>            
        </div>
        <!--Body Pages-->
        <ng-container *ngIf="configOptions.bodyBetweenSections === 'bodyEachSectionOwnPage'">
            <!--TODO: Add page for each body section with possible title at beginning of first page-->        
            <div *ngFor="let section of contentObj.bodySections; let index = index;" class="paperBack">  
                <ng-container *ngIf="configOptions.includeTitle && configOptions.titleInfoPos !== 'titleInfoSeparatePage' && !configOptions.includeAbstractSummary && index === 0">
                    <div [ngClass]="{'alignCenter': configOptions.titleInfoAlign === 'titleInfoAlignCenter', 'alignRight': configOptions.titleInfoAlign === 'titleInfoAlignRight'}" class="titlePageTopWrap">
                        <ng-container *ngFor="let index of [0, 1, 2, 3, 4, 5]; let i = index">
                            <div *ngIf="configOptions.titleInfoIncludeClassIndex === i && configOptions.titleInfoIncludeClass" >
                                <div class="titleLabelLabel">
                                    Class
                                </div>
                                <div class="titleInfoTopWrap">
                                    <div contenteditable="true" class="labelEnter" id="editting"></div>
                                    <div class="labelOptions">
                                        ...
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="configOptions.titleInfoIncludeNameIndex === i  && configOptions.titleInfoIncludeName" >
                                <div class="titleLabelLabel">
                                    Name
                                </div>
                                <div class="titleInfoTopWrap">
                                    <div contenteditable="true" class="labelEnter" id="editting"></div>
                                    <div class="labelOptions">
                                        ...
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="configOptions.titleInfoIncludeOtherTextIndex === i && configOptions.titleInfoIncludeOtherText" >
                                <div class="titleLabelLabel">
                                    Other
                                </div>
                                <div class="titleInfoTopWrap">
                                    <div contenteditable="true" class="labelEnter" id="editting"></div>
                                    <div class="labelOptions">
                                        ...
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="configOptions.titleInfoIncludeProfessorIndex === i && configOptions.titleInfoIncludeProfessor" >
                                <div class="titleLabelLabel">
                                    Professor
                                </div>
                                <div class="titleInfoTopWrap">
                                    <div contenteditable="true" class="labelEnter" id="editting"></div>
                                    <div class="labelOptions">
                                        ...
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="configOptions.titleInfoIncludeSchoolIndex === i && configOptions.titleInfoIncludeSchool" >
                                <div class="titleLabelLabel">
                                    School
                                </div>
                                <div class="titleInfoTopWrap">
                                    <div contenteditable="true" class="labelEnter" id="editting"></div>
                                    <div class="labelOptions">
                                        ...
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="configOptions.titleInfoIncludeTitleIndex === i && configOptions.titleInfoIncludeTitle" >
                                <div class="titleLabelLabel">
                                    Title
                                </div>
                                <div class="titleInfoTopWrap">
                                    <div contenteditable="true" class="labelEnter" id="editting"></div>
                                    <div class="labelOptions">
                                        ...
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>     
                    <br />
                    <br />           
                </ng-container>
                <div class="topLabelWrap">             
                    <div class="labelLabel" *ngIf="configOptions.bodyIncludeSectionLabels">
                        Section Label
                    </div>
                    <div class="firstLabelWrap" *ngIf="configOptions.bodyIncludeSectionLabels">
                        <div contenteditable="true" class="labelEnter" id="editting"></div>
                        <div class="labelOptions">
                            ...
                        </div>
                    </div>
                </div>
                <div class="contentLabel">
                    Section
                </div>
                <div class="contentOptions" style="margin-right: -66px;">
                    ...
                </div>
                <div class="contentEnterWrap">
                    <p contenteditable="true" class="contentEnter" id="editting">H<em>el</em>lo</p>		
                </div>
            </div>
        </ng-container>
        <!--Body Page && Body and Conclusion Page-->
        <div *ngIf="configOptions.bodyBetweenSections !== 'bodyEachSectionOwnPage' && ((!configOptions.includeAbstractSummary && (!configOptions.includeTitle || configOptions.titleInfoPos === 'titleInfoSeparatePage')) || (configOptions.includeAbstractSummary && configOptions.summaryOwnPage))" class="paperBack">
            <ng-container *ngFor="let section of contentObj.bodySections; let index = index;">
                <div class="topLabelWrap">             
                    <div class="labelLabel" *ngIf="configOptions.bodyIncludeSectionLabels">
                        Section Label
                    </div>
                    <div class="firstLabelWrap" *ngIf="configOptions.bodyIncludeSectionLabels">
                        <div contenteditable="true" class="labelEnter" id="editting"></div>
                        <div class="labelOptions">
                            ...
                        </div>
                    </div>
                </div>
                <div class="contentLabel">
                    Section
                </div>
                <div class="contentOptions" style="margin-right: -66px;">
                    ...
                </div>
                <div class="contentEnterWrap">
                    <p contenteditable="true" class="contentEnter" id="editting">H<em>el</em>lo</p>		
                </div>
            </ng-container>
            <ng-container *ngIf="configOptions.includeConclusion && !configOptions.conclusionOwnPage">
                <div class="topLabelWrap">
                    <div class="labelLabel" *ngIf="configOptions.conclusionIncludeLabel">
                        Conclusion Label
                    </div>
                    <div class="firstLabelWrap" *ngIf="configOptions.conclusionIncludeLabel">
                        <div contenteditable="true" class="labelEnter" id="editting"></div>
                        <div class="labelOptions">
                            ...
                        </div>
                    </div>
                </div>
                <div class="contentLabel">
                    Conclusion
                </div>
                <div class="contentOptions" style="margin-right: -87px;">
                    ...
                </div>
                <div class="contentEnterWrap">
                    <p contenteditable="true" class="contentEnter" id="editting">H<em>el</em>lo</p>		
                </div>
            </ng-container>
        </div>
        <!--Conclusion Page-->
        <div *ngIf="configOptions.includeConclusion && (configOptions.conclusionOwnPage || configOptions.bodyBetweenSections === 'bodyEachSectionOwnPage')" class="paperBack">
            <div class="labelLabel" *ngIf="configOptions.conclusionIncludeLabel">
                Conclusion Label
            </div>
            <div class="firstLabelWrap" *ngIf="configOptions.conclusionIncludeLabel">
                <div contenteditable="true" class="labelEnter" id="editting"></div>
                <div class="labelOptions">
                    ...
                </div>
            </div>
            <div class="contentLabel">
                Conclusion
            </div>
            <div class="contentOptions" style="margin-right: -87px;">
                ...
            </div>
            <div class="contentEnterWrap">
                <p contenteditable="true" class="contentEnter" id="editting">H<em>el</em>lo</p>		
            </div>
        </div>
    </div>
</div>